<h2>
  {{icon-event}}
  {{name}}
</h2>
<div class="clearfix">
  <h3 class="pull-left">{{started_at}}-{{ended_at}} at &nbsp;</h3>
  {{card-location location=location}}
</div>

<br/>
<p>{{description}}</p>
<br/>

<h4>Featuring</h4>
{{characters-list characters=characters}}

{{ outlet }}
