View {{#link-to "characters"}}Characters ({{characters.length}}){{/link-to}}, {{#link-to "locations"}}Locations ({{locations.length}}){{/link-to}}, or {{#link-to "events"}}Events ({{events.length}}){{/link-to}}.

<p>Current global time range: {{all_started_at}}-{{all_ended_at}}</p>
