<h2>New Character</h2>
<div class="form-group">
  <label>Name</label>
  {{input class="form-control" type="text" value=name}}
</div>
<div class="form-group">
  <label>Description</label>
  {{textarea class="form-control" value=description cols="80" rows="20"}}
</div>
<div class="form-inline">
  <div class="form-group">
    <label class="control-label">Started At:</label>
    {{input class="form-control" type="text" value=started_at size="10"}}
  </div>
  <div class="form-group hidden-xs">
    &nbsp;&nbsp;
  </div>
  <div class="form-group">
    <label class="control-label">Ended At:</label>
    {{input class="form-control" type="text" value=ended_at size="10"}}
  </div>
</div>
<br/>
<button {{action "submit" this}} {{bind-attr disabled=is_invalid}} class="btn btn-default">Create Character</button>
<button {{action "cancel" this}} class="btn btn-default">Cancel</button>
