<div class="row">
  <div class="col-sm-9">
    <h2>New Event</h2>
    <h3>Name</h3>
    {{input type="text" value=name size="50"}}
    <p>
    <label>Started At: {{input type="text" value=started_at size="10"}}</label>
    <label>Ended At: {{input type="text" value=ended_at size="10"}}</label>
    </p>

    <ul>
      {{#each character_selections}}
        <li>{{input type="checkbox" checked=selected}} {{#link-to "character" this}}{{name}}{{/link-to}}</li>
      {{else}}
        There are no available characters in the time frame.
      {{/each}}
    </ul>

    {{ view "select"
        prompt="Select location"
        content=available_locations
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=selected_location
    }}
    {{ selected_location.name }}
    <h3>Description</h2>
    {{textarea value=description cols="80" rows="20"}}<br/>
    <button {{action "submit" this}} {{bind-attr disabled=is_incomplete_entry}}>Create Event</button>
    <button {{action "cancel" this}}>Cancel</button>
  </div>
  <div {{bind-attr class=":col-sm-3 :hidden-xs is_valid_timeline::text-muted"}}>
    <h4>All Characters</h4>
    <ul>
      {{#each all_characters}}
        <li {{bind-attr class="marked_available:text-primary:text-muted"}}>
          {{name}}
          <div class="small">{{events-timeline timeline=this}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
